body {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.slideShow {
  position: relative;
}

.slideShowContainer {
  position: relative;
  min-height: 400px;
  width: 600px;
}
.slideImage {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 0;
}
.slideImage.active {
  z-index: 1;
}

#js-prevArrow {
  position: absolute;
  display: block;
  top: 50%;
  left: -80px;
  transform: translateY(-50%);
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 20px solid #000000;
}
#js-nextArrow {
  position: absolute;
  display: block;
  top: 50%;
  right: -80px;
  transform: translateY(-50%);
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid #000000;
}
#js-nextArrow.disabled,
#js-prevArrow.disabled {
  opacity: 0.6;
}
#js-pageNation {
  position: absolute;
  bottom: -60px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
