body {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.slideShowContainer {
  position: relative;
  min-height: 400px;
  width: 600px;
}
.slideImage {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 0;
}
.slideImage.active {
  z-index: 1;
}
