.contents {
  position: relative;
  transition: 0;
}

.top-btn {
  position: fixed;
  bottom: 40px;
  right: 40px;
  background-color: #da5040;
  color: #ffffff;
  padding: 1em;
  border-radius: 5px;
  font-weight: bold;
  transition: opacity 0.6s, transform 0.6s;
  cursor: pointer;
  opacity: 0;
  transform: translateY(150px);
  z-index: 100;
}
.active {
  opacity: 1;
  transform: translateY(0);
}
